#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

if [[ -z "$READTHEDOCS" ]]; then
    export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
else
    export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"
fi
if [[ -d "$UV_PROJECT_ENVIRONMENT" ]]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf env
asdf reshim

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="$PWD"
export POLYGLOT_TEMP="$PWD/.temp"
export POLYGLOT_SPHINX_BUILDER="html"
export POLYGLOT_SPHINX_CONF_DIR="$PWD"
export POLYGLOT_USE_BIBTEX=1
# --
