#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

if [[ -z "$READTHEDOCS" ]]; then
    export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
else
    export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"
fi
if [[ -d "$UV_PROJECT_ENVIRONMENT" ]]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi

# user local
PATH_add "$HOME/.local/bin"

# asdf
if [[ -e ".asdf.plugins" ]]; then
    echo "Adding ASDF Plugins"
    while read -r pname url; do
        if [[ -n "$pname" ]]; then
            asdf plugin add "$pname" "${url:-}"
        fi
    done < ".asdf.plugins"
fi

asdf install 2>/dev/null
asdf reshim

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="."
export POLYGLOT_TEMP=".temp"
export POLYGLOT_SPHINX_BUILDER="bibhtml"
export POLYGLOT_SPHINX_CONF_DIR="."
export POLYGLOT_USE_BIBTEX=1
# --

export BIBLIO_ROOT="$PWD"
export BIBLIO_LIB="/media/john/data/library/pdfs"
export BIBLIO_DOWNLOAD_TO="/media/john/data/todo/pdfs/online"
