#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
[[ -n "$READTHEDOCS" ]] && export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"
[[ -d "$UV_PROJECT_ENVIRONMENT" ]] && source "$UV_PROJECT_ENVIRONMENT/bin/activate"

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf reshim

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="$PWD"
export POLYGLOT_TEMP="$PWD/.temp"
export POLYGLOT_SPHINX_BUILDER="html"
export POLYGLOT_SPHINX_CONF_DIR="$PWD"
export POLYGLOT_USE_BIBTEX=1
# --
