[submodule ".site"]
	path = .site
	url = git@github.com:jgrey4296/jgrey4296.github.io.git
[submodule "submodules_/wiki"]
	path = submodules_/wiki
	url = git@github.com:jgrey4296/jgrey4296.github.io.wiki.git
