[submodule ".site"]
	path = .site
	url = git@github.com:jgrey4296/jgrey4296.github.io.git
[submodule "submodules_/bibliography"]
	path = submodules_/bibliography
	url = git@github.com:jgrey4296/bibliography.git
[submodule "submodules_/aisb"]
	path = submodules_/aisb
	url = git@github.com:jgrey4296/aisb-bibtex.git
[submodule "submodules_/orgfiles"]
	path = submodules_/orgfiles
	url = git@github.com:jgrey4296/orgfiles.git
[submodule "submodules_/quotes"]
	path = submodules_/quotes
	url = git@github.com:jgrey4296/quotes.git
[submodule "submodules_/timelines"]
	path = submodules_/timelines
	url = git@github.com:jgrey4296/timelines.git
[submodule "submodules_/tech_notes"]
	path = submodules_/tech_notes
	url = git@gitlab.com:jgrey4296/tech_notes.git
[submodule "submodules_/definitions"]
	path = submodules_/definitions
	url = git@gitlab.com:jgrey4296/definitions.git
[submodule "submodules_/bookmarks"]
	path = submodules_/bookmarks
	url = git@gitlab.com:jgrey4296/bookmarks.git
