/* Post Date etc */
.meta {
    text-align          : center;
    margin              : 5px;
}

.container .post {
    margin     : auto;
    text-align : left;
}

h2 {
    text-align : center;
    margin     : auto;
}

h3 {
  text-align: left;
}

