@keyframes delayVis {
    from {
        visibility: hidden;
        opacity: 0%;
        width: 0;
    }
    to {
        visibility: visible;
        opacity: 100%;
        width: var(--sidebar-width);
    }
}
@keyframes shrink {
    from { margin-left: var(--sidebar-width); margin-right: var(--sidebar-width); }
    to { margin-left: 0; margin-right: 0; }
}

@keyframes hover {
    from { background: inherit; }
    to { background: blue; }
}


@media (max-width: 1199px) {
    body :is(main, header,footer) {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width: 1200px) {
    h2,h3 { text-align: left; }

    body :is(main, header, footer) {
        margin-left: var(--sidebar-width);
        margin-right: var(--sidebar-width);
    }

}
