body {
    margin              : 40px auto;
    background          : #444;
    line-height         : 1.4;
    font-size           : 18px;
}

/* Main Container Stuff : */
main{
    position       : relative;
    background     : #DDD;
    margin-left    : 10%;
    margin-right   : 10%;
    margin-top     : 2%;
    margin-bottom  : 2%;
    border-radius  : 10px;
    padding-left   : 5%;
    padding-right  : 5%;
    padding-top    : 5%;
    padding-bottom : 5%;
}

main a {
    color               : #234;
}

/* headers */
header h1 {
    margin              : auto;
    text-align          : center;
}

.content-header h1 {
    border-bottom: 5px solid #1C6EA4;
}

h2 {
    text-align          : center;
}

h3 {
    font-size           : 15pt;
    padding             : 10px;
    text-align          : Left;
    margin              : 2px;
    line-height         : 1.4;
}

h3 a {
    color               : blue;
}

/* image */
main img {
    width               : 80%;
    height              : auto;
    margin-left         : 10%;
    margin-right        : 10%;
    margin-top          :20px;
    margin-bottom       :20px;
}

.pic {
    display             : block;
    font-family         : serif;
    font-size           : 1em;
    line-height         : 133%;
    text-indent         : 0;
    margin              : 12pt 0 6pt;
    padding             : 0;
    }

/* Navigation bar */
nav {
    font-size: 150%;
    text-align          : center;
    margin-left         : 20%;
    margin-right        : 20%;
    background          : #AAA;
    padding             : 20px;
    border-radius       : 10px;
    list-style          : none;
}

nav a {
    margin              : 10px 0;
    height              : 30px;
    padding             : 12px 10px;
    color               : #000;
}

/* hovering */
nav a:hover {
    background-color    : #234;
    color               : #DDD;
}

h3 a:hover {
    background-color    : #333;
    color               : grey;
}

a:hover {
    background-color : #333;
    color : grey;
}


.hentry {
    background-color : #95392c;

}

#post-list li {
    margin-bottom: 20px;
}

#tag-list {
    column-count : 3;
}
