<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/misc.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    {% if page.layout == "post" %}
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    {% endif %}
    {% if page.extra_css %}
      {% for item in page.extra_css %}
        <link rel="stylesheet" type="text/css" href="/css/{{ item }}">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="https://github.com/jgrey4296">Github</a>
        <a href="/tags">Tags</a>
        <a href="/resources">Resources</a>
    </nav>
    <div class="container">

      {{ content }}

    </div>
  </body>
</html>
